<!DOCTYPE html>
<html ng-app="minApp">

<head>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="node_modules/angular-loading-bar/src/loading-bar.css" />
    <link rel="stylesheet" href="style/style.css" />

    <!-- Angular -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/angular-google-chart/ng-google-chart.min.js"></script>
    <script src="node_modules/angular-loading-bar/src/loading-bar.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>

    <!-- Egne script -->
    <script src="module/app.js"></script>
    <script src="controllers/MainController.js"></script>
    <script src="controllers/GruppeSannsController.js"></script>
    <script src="controllers/KampSannsController.js"></script>
    <script src="controllers/RankingController.js"></script>
    <script src="controllers/SpillerSoekController.js"></script>
    <script src="controllers/StatistikkController.js"></script>
    <script src="controllers/DivisjonInfoController.js"></script>
    <script src="services/GruppeSannsService.js"></script>
    <script src="services/KampSannsService.js"></script>
    <script src="services/RankingService.js"></script>
    <script src="services/RestService.js"></script>
    <script src="services/SpillerSoekService.js"></script>
    <script src="services/StatistikkService.js"></script>
    <script src="services/DivisjonInfoService.js"></script>

</head>

<body>

    <!--Bootstrap navbar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WLOH</a>
            </div>
            <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
                <ul class="nav navbar-nav">
                    <li><a href="#/ranking">Ranking</a></li>
                    <li><a href="#/spillerinfo">Spillerinfo</a></li>
                    <li><a href="#/sesonginfo">Sesonginfo</a></li>
                    <li><a href="#/divisjoninfo">Divisjoninfo</a></li>
                    <li><a href="#/antallspillerepersesong">Antall spillere pr sesong</a></li>
                    <li><a href="#/antalluavgjortpersesong">Antall uavgjort pr sesong</a></li>
                    <li><a href="#/spillerdivisjon">Divisjon per sesong</a></li>
                    <li><a href="#/gruppesanns">Sannsynlighet for gruppeseier</a></li>
                    <li><a href="#/kampsanns">Sannsynlighet for spillerseier</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Her kommer alle views-->
    <div class="container" ng-view></div>
</body>

</html>
