body {
  background-color: #f2f2f2;
}

.container {
  background-color: #f2f2f2;
}

.sannsynlighet {
  padding: 4em;
  font-family: "Arial", sans-serif;
  font-size: 1em;
  color: black;
}

.sannsynlighet table {
  width: 100%;
}

.sentrert th, .sentrert td{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.sannsynlighet th {
  padding-bottom: 0.2em;
  font-weight: normal;
}

.sannsFor {
  color: #3366CC;
}

.sannsMot {
  color: #DC3912;
}

.sannsynligheter {
  font-weight: bold;
  font-size: 3em;
  border-top: 1px solid #ddd;
}

.sannsForVert {
  color: #3366CC;
}

.sannsMotVert {
  color: #DC3912;
}

.tabellTittel {
  font-weight: bold;
  padding-bottom: 20px;
}

.diagramContainer {
  width: 100%;
}

.grid-element {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 700px;
  height: 300px;
}

.diagram, .tabell {
  float: left;
}

.diagram {
  width: 70%;
  height: 85%;
  border: 1px solid #CCC;
  border-left: 5px solid #CCC;
  margin-right: 10px;
}

.tabell {
  width: 80%;
  height: 95%;
}

.diagram-heading {
  height: 15%;
  width: 80%;
  margin: auto;
}
