<div ng-show="antallSpillerePerSesong">
    <h3>Antall spillere per sesong</h3>
    {{statistikkServiceError}}
    <div google-chart chart="lineChartAntallSpillerePerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallSpillerePerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="areaChartAntallSpillerePerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="steppedAreaChartAntallSpillerePerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="scatterChartAntallSpillerePerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="histogramAntallSpillerePerSesong" style="height:600px; width:100%;"></div>

    <br>

    <!--<table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Sesong</th>
                <th>Antall spillere</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="res in antallSpillerePerSesongRespons">
                <td>{{res.Sesong}}</td>
                <td>{{res.Antall}}</td>
            </tr>
        </tbody>
    </table> -->
</div>
