<div ng-show="antallUavgjortPerSesong">
    <h3>Antall uavgjort per sesong</h3>
    {{statistikkServiceError}}
    <div google-chart chart="lineChartAntallUavgjortPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallUavgjortPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="pieChartAntallUavgjortPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="areaChartAntallUavgjortPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="steppedAreaChartAntallUavgjortPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="scatterChartAntallUavgjortPerSesong" style="height:600px; width:100%;"></div>

    <br>

    <!--<table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Sesong</th>
                <th>Antall uavgjort</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="res in antallUavgjortPerSesongResponse">
                <td>{{res.Sesong}}</td>
                <td>{{res.Antall}}</td>
            </tr>
        </tbody>
    </table> -->
</div>
