<div ng-show="antallGrupperPerDivisjon">
    <h3>Divisjonsstatistikk for sesong 112</h3>
    {{divisjonInfoServiceError}}
    <div google-chart chart="lineChartAntallGrupperPerDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallGrupperPerDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="comboChartAntallGrupperPerDivisjonPareto" style="height:600px; width:100%;"></div>
    <div google-chart chart="barChartAntallGrupperPerDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="pieChartAntallGrupperPerDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="scatterChartAntallGrupperPerDivisjon" style="height:600px; width:100%;"></div>
    <hr>
    <div google-chart chart="scatterChartAntallSpillereOgPoengPerDivisjon" style="height:600px; width:100%;"></div>
    <hr>
    <div google-chart chart="lineChartAntallSpillerePerDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallSpillerePerDivisjon" style="height:600px; width:100%;"></div>
    <hr>
    <div google-chart chart="lineChartAntallWFPoengPerDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallWFPoengPerDivisjon" style="height:600px; width:100%;"></div>
    <hr>
    <div google-chart chart="lineChartAntallUavgjortPerDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallUavgjortPerDivisjon" style="height:600px; width:100%;"></div>
    <hr>
    <br>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Divisjon</th>
                <th>Antall grupper</th>
                <th>Antall spillere</th>
                <th>Antall uavgjort</th>
                <th>Antall wordfeudpoeng</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="div in divisjonInfo">
                <td class="col-md-2">{{div.divisjon | number}}</td>
                <td class="col-md-2">{{div.antall_grupper | number}}</td>
                <td class="col-md-2">{{div.antall_spillere | number}}</td>
                <td class="col-md-2">{{div.antall_uavgjort | number}}</td>
                <td class="col-md-2">{{div.antall_wfpoeng | number}}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <br>

    <h3>Gruppestatistikk for sesong 112, divisjon 9</h3>
    <div google-chart chart="lineChartAntallSpillerePerGruppe" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallSpillerePerGruppe" style="height:600px; width:100%;"></div>
    <hr>
    <div google-chart chart="lineChartAntallWFPoengPerGruppe" style="height:600px; width:100%;"></div>
    <div google-chart chart="areaChartAntallWFPoengPerGruppe" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallWFPoengPerGruppe" style="height:600px; width:100%;"></div>
    <div google-chart chart="histogramAntallWFPoengPerGruppe" style="height:600px; width:100%;"></div>
    <div google-chart chart="scatterChartAntallWFPoengPerGruppe" style="height:600px; width:100%;"></div>
    <hr>
    <div google-chart chart="lineChartAntallUavgjortPerGruppe" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallUavgjortPerGruppe" style="height:600px; width:100%;"></div>
    <hr>
    <br>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Gruppe</th>
                <th>Antall spillere</th>
                <th>Antall uavgjort</th>
                <th>Antall wordfeudpoeng</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="gr in gruppeInfo">
                <td class="col-md-2">{{gr.gruppe | number}}</td>
                <td class="col-md-2">{{gr.antall_spillere | number}}</td>
                <td class="col-md-2">{{gr.antall_uavgjort | number}}</td>
                <td class="col-md-2">{{gr.antall_wfpoeng | number}}</td>
            </tr>
        </tbody>
    </table>
</div>
