<div ng-show="gruppeSanns">
  <h3>Gruppesannsynlighet</h3> {{error}} Sannsynligheten for at {{gruppeSannsResponse.Navn}} vinner i sin siste gruppe

  <div class="sannsynlighet">
    <table class="sentrert">
      <tr>
        <th>Sannsynlighet for førsteplass</th>
        <th>Sannsynlighet for annen plassering</th>
      </tr>
      <tr class="sannsynligheter">
        <td class="sannsFor">{{ gruppeSannsResponse.Sannsynlighet | number }}&#37;</td>
        <td class="sannsMot">{{ 100 - gruppeSannsResponse.Sannsynlighet | number }}&#37;</td>
      </tr>
    </table>
  </div>

  <div google-chart chart="columnChartGruppeSanns" style="height:600px; width:100%;"></div>
  <div google-chart chart="pieChartGruppeSanns" style="height:600px; width:100%;"></div>
  <div google-chart chart="barChartGruppeSanns" style="height:600px; width:100%;"></div>
</div>
