<h1>{{message}}</h1>
<br>
<a href="#/ranking">Ranking</a>
<br>
<a href="#/spillerinfo">Spillerinfo</a>
<br>
<a href="#/antallspillerepersesong">Antall spillere pr sesong</a>
<br>
<a href="#/antalluavgjortpersesong">Antall uavgjort pr sesong</a>
<br>
<a href="#/gruppesanns">Sannsynlighet for gruppeseier</a>
<br>
<a href="#/kampsanns">Sannsynlighet for spillerseier</a>
