<div ng-show="kampSanns">
    <h3>Kampsannsynlighet</h3>
    {{ errorKampSanns }}
    {{ kampSannsResponse.Spiller1 }} mot {{ kampSannsResponse.Spiller2 }}

    <div class="sannsynlighet">
      <table class="sentrert">
        <tr>
          <th>Sannsynlighet for seier</th><th>Sannsynlighet for tap</th>
        </tr>
        <tr class="sannsynligheter">
          <td class="sannsFor">{{ kampSannsResponse.Sannsynlighet | number }}&#37;</td><td class="sannsMot">{{ 100 - kampSannsResponse.Sannsynlighet | number }}&#37;</td>
        </tr>
      </table>
    </div>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>{{ kampSannsResponse.Spiller1 }}</th>
                <th>{{ kampSannsResponse.Spiller2 }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-2">Sannsynlighet for seier</td>
                <td class="col-md-2">{{ kampSannsResponse.Sannsynlighet | number }}&#37;</td>
                <td class="col-md-2">{{ 100 - kampSannsResponse.Sannsynlighet | number }}&#37;n</td>
            </tr>
        </tbody>
    </table>

    <div google-chart chart="columnChartKampSanns" style="height:600px; width:100%;"></div>
    <div google-chart chart="pieChartKampSanns" style="height:600px; width:100%;"></div>
    <div google-chart chart="barChartKampSanns" style="height:600px; width:100%;"></div>
</div>
