<h3>Topp 50</h3>
{{error}}

</br>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Navn</th>
            <th>Antall spilte sesonger</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="rank in spillereRank | limitTo: 50">
            <td class="col-md-2">{{rank.Rank}}</td>
            <td class="col-md-2">{{rank.Navn}}</td>
            <td class="col-md-2">{{rank.TotaltSpilteSesonger}}</td>
            <td class="col-md-2">{{rank.Rating | number: 0}}</td>
        </tr>
    </tbody>
</table>
