<div ng-show="antallDivisjonerPerSesong">
    <h3>Generell statistikk</h3>
    {{statistikkServiceError}}
    <div google-chart chart="lineChartAntallDivisjonerPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallDivisjonerPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="areaChartAntallDivisjonerPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="lineChartAntallGrupperPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="lineChartAntallWFPoengPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="areaChartAntallWFPoengPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="columnChartAntallWFPoengPerSesong" style="height:600px; width:100%;"></div>
    <div google-chart chart="bubbleChartSamletStatistikk" style="height:600px; width:100%;"></div>
</div>
<div ng-show="samletStatistikkTabell">
  <table class="table table-hover table-condensed">
      <thead>
          <tr>
              <th>Sesong</th>
              <th>Antall divisjoner</th>
              <th>Antall grupper</th>
              <th>Antall wordfeudpoeng</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="res in samletStatistikkTabell | orderBy: '-sesong'">
              <td class="col-md-2">{{res.sesong | number}}</td>
              <td class="col-md-2">{{res.antall_divisjoner | number}}</td>
              <td class="col-md-2">{{res.antall_grupper | number}}</td>
              <td class="col-md-2">{{res.antall_wfpoeng | number}}</td>
          </tr>
      </tbody>
  </table>
</div>
