<div ng-show="spiller">
    <div google-chart chart="columnChartDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="areaChartDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="steppedAreaChartDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="lineChartDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="scatterChartDivisjon" style="height:600px; width:100%;"></div>
    <div google-chart chart="pieChartDivisjon" style="height:600px; width:100%;"></div>
  </div>
