<h3>Spillersøk</h3>
<form name="searchUser" ng-submit="search(username)">
    <input type="search" required placeholder="Brukernavn" ng-model="username" />
    <input type="submit" value="Search" />
</form>

<br />
{{error}}
<div ng-show="spiller">
    Navn: {{spiller.Navn}}  </br>
    Url: {{spiller.Url}}    </br>
    <div ng-show="spiller.Sted">Sted: {{spiller.Sted}}</div>
    <div ng-show="spiller.Fodt">Født: {{spiller.Fodt}}</div>
    Antall sesonger: {{antallSesonger}}

    <div class="diagramContainer">
    <div class="grid-element">
      <h4 class="diagram-heading">Ranking</h4>
      <div class="diagram" google-chart chart="lineChartSpillerRanking"></div>
      <table>
        <tr><td>
          <a href="http://www.google.com">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </td></tr>
        <tr><td>
          <a href="http://www.google.com">
            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
          </a>
        </td></tr>
      </table>
    </div>
    <div class="grid-element"><div class="diagram" google-chart chart="areaChartSpillerRanking"></div></div>
    <div class="grid-element"><div class="diagram" google-chart chart="stackedColumnChartSpillerSoek"></div></div>
    <div class="diagram" google-chart chart="stackedColumnChartSpillerSoekBasic" style="height:600px; width:100%;">
    <div class="diagram" google-chart chart="comboChartSpillerSoek"></div>
    <div class="diagram" google-chart chart="columnChartSpillerSoek"></div>
    <div class="diagram" google-chart chart="columnChartUUavgjortSpillerSoek"></div>
    <div class="diagram" google-chart chart="columnChartKamper"></div>
    <div class="diagram" google-chart chart="areaChartSpillerSoek"></div>
    <div class="diagram" google-chart chart="steppedAreaChartSpillerSoek"></div>
    <div class="diagram" google-chart chart="lineChartSpillerSoek"></div>
    <div class="diagram" google-chart chart="scatterChartSpillerSoek"></div>
    <div class="diagram" google-chart chart="pieChartKampResultater"></div>
    <div class="diagram" google-chart chart="scatterChartKamperOgSeiere"></div>
    <div class="tabell">
      <table class="table table-hover table-condensed">
          <thead>
              <tr>
                  <th>Sesong</th>
                  <th>Divisjon</th>
                  <th>Gruppe</th>
                  <th>Vunnet</th>
                  <th>Uavgjort</th>
                  <th>Tapt</th>
                  <th>Plassering</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="res in spiller.Resultater">
                  <td class="col-md-2">{{res.Sesong}}</td>
                  <td class="col-md-2">{{res.Divisjon}}</td>
                  <td class="col-md-2">{{res.Gruppe}}</td>
                  <td class="col-md-2">{{res.Vunnet}}</td>
                  <td class="col-md-2">{{res.Uavgjort}}</td>
                  <td class="col-md-2">{{res.Tapt}}</td>
                  <td class="col-md-2">{{res.Plassering}}</td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="tabell">
      <table class="table table-hover table-condensed">
          <thead>
              <tr>
                  <th>Sesong</th>
                  <th>Divisjon</th>
                  <th>Gruppe</th>
                  <th>Vunnet</th>
                  <th>Uavgjort</th>
                  <th>Tapt</th>
                  <th>Plassering</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="res in spiller.Resultater">
                  <td class="col-md-2">{{res.Sesong}}</td>
                  <td class="col-md-2">{{res.Divisjon}}</td>
                  <td class="col-md-2">{{res.Gruppe}}</td>
                  <td class="col-md-2">{{res.Vunnet}}</td>
                  <td class="col-md-2">{{res.Uavgjort}}</td>
                  <td class="col-md-2">{{res.Tapt}}</td>
                  <td class="col-md-2">{{res.Plassering}}</td>
              </tr>
          </tbody>
      </table>
    </div>
    </div>
    <br>



    <!--<table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Sesong</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="info in spillerRanking">
                <td>{{info.Sesong}}</td>
                <td>{{info.Rank}}</td>
            </tr>
        </tbody>
    </table> -->

</div>
